<!-- Tuukka Tihekari 1800576 01.05.2020 -->

<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Personal Projects</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/menu/dashboard" routerDirection="forward">
        <ion-icon name="build-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="margin: 0 auto; max-width: 40rem;">
    <!-- Loop items here -->
    <ion-card *ngFor="let project of projects">
      <ion-item>
        <ion-avatar slot="end">
          <img src={{project.img}}>
        </ion-avatar>
        <ion-label>
          <ion-card-title>{{project.title}}</ion-card-title>
        </ion-label>
      </ion-item>
      <ion-card-header>
        <ion-card-subtitle>{{project.subtitle}}</ion-card-subtitle>
        <ion-card-title>{{project.description}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div style="white-space: pre-line">{{project.content}}</div>
      </ion-card-content>
      <ion-button color="dark" expand="block" (click)="doRedirect(project.url)">GitHub</ion-button>
    </ion-card>
  </div>
</ion-content>