<!-- Tuukka Tihekari 1800576 01.05.2020 -->

<ion-header>
  <ion-toolbar color="dark">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/menu/dashboard" routerDirection="forward">
        <ion-icon name="build-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div style="margin: 0 auto; max-width: 40rem">
    <ion-card class="card">
      <ion-row style="max-width: 40rem">
        <ion-col>
          <ion-card-header>
            <ion-card-title class="name">Introduction</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>I'm a BIT student at Laurea and I'm passionate about web development.</p>
          </ion-card-content>
        </ion-col>
        <ion-col style="text-align: center;">
          <img class="profile-image" width="100px" src="/assets/Tuukka.jpg" /><br /><strong>Tuukka Tihekari</strong>
        </ion-col>
      </ion-row>
      <ion-row style="max-width: 40rem;">
        <ion-card-content>
          <p>I started my career in health tech industry working as a tester, but
            my curiousity about how to
            build awesome things with code sparked my interest to study a degree in information technology.</p>
          <p class="mt-2">I'm really interested
            about UI design, UX and especially hybrid mobile app development!</p>
          <p class="mt-2">If you like the App, please sign in and leave a comment in my guestbook!</p>
          <p class="mt-3">Contact me and let's collaborate.
            <span>😊</span></p>
        </ion-card-content>
      </ion-row>
      <ion-item>
        <ion-label>
          <ion-card-subtitle>
            More about me
          </ion-card-subtitle>
        </ion-label>
      </ion-item>
      <ion-row style="max-width: 40rem">
        <ion-col style="text-align: center;">
          <img class="profile-image" width="100px" src="/assets/motorcycle.jpg" /><br /><strong>My
            motorbike</strong>
        </ion-col>
        <ion-col>
          <ion-card-header>
            <ion-card-title class="name">Hobbies</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>I love motorcycling.</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row style="max-width: 40rem;">
        <ion-card-content>
          <p>Ever since I bought my first moped when I was 15-years old, motorcycling has been a dear hobby to me.
          </p>
          <p class="mt-2">The best thing about motorcyling is the feeling of freedom, and escape from busy life.</p>
        </ion-card-content>
      </ion-row>
      <ion-row style="max-width: 40rem">
        <ion-col>
          <ion-card-header>
            <ion-card-title class="name">Swimming</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Swimming is important part of my life, and I swim atleast once a week.</p>
          </ion-card-content>
        </ion-col>
        <ion-col style="text-align: center;">
          <img class="profile-image" width="100px" src="/assets/swimming.jpg" /><br />
        </ion-col>
      </ion-row>
      <ion-row style="max-width: 40rem;">
        <ion-card-content>
          <!-- Reserved -->
        </ion-card-content>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button color="dark" expand="block">My Skills
      </ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-footer>