/* Tuukka Tihekari 1800576 01.05.2020 */

.cv-image {
  height: 180px !important;
  width: 100%;
  border-radius: 20px
}

ion-content {
  --background: none;
  background-image: linear-gradient(var(--ion-color-dark), white);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}