/* ion-content ion-toolbar {
  --background: translucent;
} */

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-content {
  --background: none;
  background-image: linear-gradient(var(--ion-color-primary), white);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background: rgba(255, 255, 255, 1);
}

.img {
  margin-top: 1rem;
  height: auto;
  border-radius: 50%;
  background-image: linear-gradient(var(--ion-color-secondary), white);
}