<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{song?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button color="primary" (click)="editSong()" expand="block"
    >Edit Song</ion-button
  >
  <ion-content>
    <p>Band:</p>
    <ion-item class="chords">
      <ion-textarea readonly [(ngModel)]="song.band"> </ion-textarea>
    </ion-item>
    <p>Song Title:</p>
    <ion-item class="lyrics">
      <ion-textarea readonly [(ngModel)]="song.title"></ion-textarea>
    </ion-item>
    <p>Chords:</p>
    <ion-item class="chords">
      <ion-textarea readonly [(ngModel)]="song.chords"> </ion-textarea>
    </ion-item>
    <p>Lyrics:</p>
    <ion-item class="lyrics">
      <ion-textarea readonly [(ngModel)]="song.lyrics"></ion-textarea>
    </ion-item>
  </ion-content>
</ion-content>
