<!-- Tuukka Tihekari 1800576 01.05.2020 -->

<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Verify Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 0 auto; max-width: 40rem;">
    <br>
    <br>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-card-title>
              Please check your email and click on the link to verfiy your email
              address.
            </ion-card-title>
          </ion-row>
        </ion-grid>
        <ion-button color="tertiary" type="submit" (click)="authService.SendVerificationMail()" expand="block">
          Resend Verification Email
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="dark" expand="block" routerLink="/menu/dashboard">Return to login</ion-button>
  </ion-toolbar>
</ion-footer>