<!-- Tuukka Tihekari 1800576 01.05.2020 -->

<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Guestbook
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/menu/dashboard" routerDirection="forward">
        <ion-icon name="build-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div style="margin: 0 auto; max-width: 40rem">
    <!-- Loop messages from list -->
    <div *ngIf="(guestbookList$ | async)?.length < 1" class="d-flex justify-content-center mt-5">
      <div class="spinner-grow text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <ion-card *ngFor="let item of guestbookList$ | async">
      <ion-card-header>
        <ion-card-subtitle>{{item.author}}</ion-card-subtitle>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> {{item.message}}</p>
        <br>
        <ion-card-subtitle>
          <span>✏️</span> {{item.date}}
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="dark" expand="block" routerLink="/menu/add-entry">Write to guestbook</ion-button>
  </ion-toolbar>
</ion-footer>