<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Verify Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <p>
        Please check your email and click on the link to verfiy your email
        address.
      </p>
      <ion-button
        type="submit"
        (click)="authService.SendVerificationMail()"
        expand="block"
      >
        Resend Verification Email
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
