<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My First App - Awesome!
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="end">
        <ion-icon name="search"></ion-icon
      ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    The world is your oyster.
    <p>
      If you get lost, the
      <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/"
        >docs</a
      >
      will be your guide.
    </p>
    <p>Welcome to my app using the newest Ionic!</p>
    <div class="action-btn">
      <ion-button (click)="openMenu()">Show Action Sheet</ion-button>
    </div>
  </div>
</ion-content>
