<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
  </form>
  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="logIn(email, password)" expand="block"
        >Login</ion-button
      >
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button
        type="submit"
        color="danger"
        (click)="authService.GoogleAuth()"
        expand="block"
      >
        Login with Google
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
<ion-row>
  <ion-col>
    <ion-button
      color="tertiary"
      expand="block"
      routerLink="/menu/register"
      routerDirection="forward"
      >Register</ion-button
    >
  </ion-col>
</ion-row>
